.myInputItem{
  //border: 1px #546e7a solid;
  border-radius: 10px;
  margin: 16px 30px;
}

.mySwitchBtn{
  display: flex;
  margin: 16px 30px;
}

.myBtns{
  position: absolute;
  bottom: 14px;
  width: 100%;
}

.switchSpan{
  margin: 16px 30px;
}
